body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background-color: rgb(65, 9, 9);
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-x: hidden;
  }
  
  /* ====== LOGO SPACE ====== */
  
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px;
  }
  .logo-space {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 10px;
    background-color: rgb(122, 0, 60);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  
  .logo-space h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px 0;
    font-size: 2.25rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  #logo {
    width: 40px;
    margin-right: 10px;
  }
  
  .title-area {
    display: flex;
    flex-direction: column;
    /* align-self: start;
    margin-top: 3%; */
    text-align: start;
  }
  

  form {
    align-self: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 0px auto; /* Center the form with vertical margin */
  }
  
  #formMessage {
    display: none;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 40%;
    margin: 20px auto; /* Center the form with vertical margin */
    color: white;
  }

  .form-message-success {
    background-color: green;
  }

  .form-message-error {
    background-color: red;
  }

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: rgb(218, 169, 114);
    color:  #333;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(212, 153, 85);
}

#message {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}
